{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" style="background-color:lightgray; color:black; border:2px solid cyan" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" id = "shares"name="shares" style="background-color:lightgray; color:black; border:2px solid cyan" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-success" id="submit" type="submit" disabled>Buy</button>
    </form>
    <script>
        document.querySelector('#shares').onkeyup = function() {
     if (document.querySelector('#shares').value === '' || document.querySelector('#shares').value < 1)
     {
       document.querySelector('#submit').disabled = true;
     }
     else
     {
       document.querySelector('#submit').disabled = false;
     }

   }
        document.querySelector('#shares').onchange = function() {
     if (document.querySelector('#shares').value === '' || document.querySelector('#shares').value < 1)
     {
       document.querySelector('#submit').disabled = true;
     }
     else
     {
       document.querySelector('#submit').disabled = false;
     }

   }
    </script>
{% endblock %}